.tabs {
    width: 30em;
    display: inline-block;
    margin-right: 0.5em;
    border-right: 1px solid #eee;
    padding-right: 0.5em;
}


#tabs {
    margin-left: 1em;
    width: 2000px;
}

.table-campos .form-control {
    width: 50%;
    display: inline;
    padding: 1px;
    height: 24px;
}

.table-campos td {
    text-align: right;
}